# TYPE chef_client_last_run_timestamp_seconds gauge
# HELP chef_client_last_run_timestamp_seconds The unix timestamp of the finish of the last chef-client run.
chef_client_last_run_timestamp_seconds <%= @timestamp %>
# TYPE chef_client_error gauge
# HELP chef_client_error The bool error status of the last chef-client run.
chef_client_error 1.0
