# HELP node_disk_max_read_iops Maximum number of read IOs per second
# TYPE node_disk_max_read_iops gauge
<% @disks.each do |disk, params| -%>
node_disk_max_read_iops{device="<%= disk %>"} <%= params[:max_read_iops] %>
<% end -%>
# HELP node_disk_max_write_iops Maximum number of write IOs per second
# TYPE node_disk_max_write_iops gauge
<% @disks.each do |disk, params| -%>
node_disk_max_write_iops{device="<%= disk %>"} <%= params[:max_write_iops] %>
<% end -%>
# HELP node_disk_max_read_bytes_seconds Maximum number of read per second
# TYPE node_disk_max_read_bytes_seconds gauge
<% @disks.each do |disk, params| -%>
node_disk_max_read_bytes_seconds{device="<%= disk %>"} <%= params[:max_read_bytes_sec] %>
<% end -%>
# HELP node_disk_max_write_bytes_seconds Maximum number of write per second
# TYPE node_disk_max_write_bytes_seconds gauge
<% @disks.each do |disk, params| -%>
node_disk_max_write_bytes_seconds{device="<%= disk %>"} <%= params[:max_write_bytes_sec] %>
<% end -%>
