#!/bin/sh
exec 2>&1

ulimit -n 10240

exec chpst -u <%= node['prometheus']['user'] %> \
  <%= node['blackbox_exporter']['binary'] %> \
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "blackbox_exporter") %>
