#!/bin/sh
exec 2>&1

exec chpst -u <%= node["prometheus"]["user"] %> \
  <%= "#{node["consul_exporter"]["dir"]}/consul_exporter" %> \
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "consul_exporter") %>
